body{
    background: url("../imgs/bg03b.png") 
    no-repeat center center ;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.slider-box{
    position: fixed;
    left: 2%;
    top: 2%;
    width: 20%;
}
.slider-img{
    height: 44px;
    margin-bottom: 2%;
}
.cur-head{
    position: fixed;
    right: 2%;
    top: 2%;
    width: 75%;
    height: 70px;
}
.cur-top{
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr 1fr 1.5fr 1fr;
    gap: 0 1%;
}
.cur-item{
    text-align: left;
    position: relative;
}
.item-text{
    position: absolute;
    left: 25%;
    transform: translateX(-25%);
    font-size:12px ;
    color: #FFFFFF;
    white-space: nowrap;
}
.cur-item img {
    width: 100%;
    height: 28px;
    display: inline-block;
}
.cur-head-text>ul{
    text-align: left;
    grid-template-columns: repeat(3,1fr) ;
    gap: 0 2%;
}
.cur-head-text>ul>li{
    text-align: left;
    width: 100%;
    white-space: nowrap;
    gap: 0 1%;

}
.cur-input {
    width: 100%;
    height: 24px;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    gap: 0 1%;
    margin-top: 10px;
}
.cur-input input,.cur-input img{
    text-align: left;
    width: 100%;
height:100% ;
background: #FFFFFF;
border: 1px solid #DFDFDF;
}
.send-btn{
background: #5399E1;
border-radius: 4px;
color: #FFFFFF;
outline: none;
border: none;
}
.fast-btn{
background: #666666;
border-radius: 4px;
color: #FFFFFF;
outline: none;
border: none;
}
.msg-box{
    height: 80vh;
    margin-top: 5%;
    overflow-y: scroll;
}
.msg-l{
    margin: 10% 0;
}
.msg-l-msg {
    padding-right: 7%;
}
.msg-l-avatar>img{
    height: 55px;
    vertical-align: top;
}

.msg-l-info{
    background-color: #99E164;
    position: relative;
    text-align: left;
    padding: 2% 3%;
    
border-radius: 6px;
box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
}
.msg-l-msg-t {
    text-align: right;
    justify-content: flex-end;
    margin-bottom: 4px;
}
.msg-l-msg-t>h5{
font-weight: 500;
color: #333333;
font-size: 12px;
margin: 0 2px;
}
.msg-l-msg-t>h3{
font-size: 14px;
color: #333333;
    }
.msg-l-info::after{
    content: "";
    border: 6px solid #99E164;
    border-color: transparent transparent transparent #99E164;
    position:absolute;
    right: 0;
    transform: translateX(100%);
    top: 25%;
}
.msg-r{
    background-color: #FFFFFF;
    position: relative;
    position: relative;
    text-align: left;
    padding: 4% 3%;
    border-radius: 6px;
box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);

}
.msg-r::before{
    content: "";
    border: 6px solid #FFFFFF;
    border-color: transparent  #FFFFFF transparent transparent;
    position:absolute;
    left: 0;
    transform: translateX(-100%);
    top: 25%;
}
.msg-r-msg{
    padding-left: 3%;
}

.show{
    width: 100%;
    height: 100vh;
    display: none;

}
.pop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.4;
}

.show-choose{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2% 3% 8%;
    width: 80%;
    grid-template-columns: repeat(4,1fr);
    gap: 4%;
background: #111111;
border: 5px solid #FFFFFF;
border-radius: 10px;
margin: 0 auto;
z-index: 10;
}
.choose-img{
    width: 100%;
}
